* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
  background-color: #111111;
  background-image: linear-gradient(to bottom, #222, #111);
}

img.instapic {
  padding-right: 20%;
  padding-left: 20%;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  display: block;
}
div {
  color: white;
  text-align: center;
}
code {
  font-size: 1.5em;
}
